@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

.ql-toolbar{
    display: flex;
    justify-content: center;
    background-color: rgb(235, 240, 243);
    border-radius: 20px;
    width: 99%;
}

.ql-container{
    width: 55%;
    height: 95vh;
    background-color:white;
    border-radius: 5px;
    font-family: "Work Sans";
    font-size: 17px;
}

.quill{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99vw;
}
